node_modules
dist
*.log
.DS_Store
coverage/*
.nyc_output
.env
.npmrc
nul
target
.elit-desktop-*
.elit-config-*.mjs
.tmp*

# License copied during build
server/LICENSE
.claude
bun.lock

examples/mobile-native-example/android/app/build
examples/mobile-native-example/android/.gradle
*.wapk
dev-dist
shims

packages/*.crx
packages/*.pem
/*.crx
/*.pem

benchmark/*
artifacts/*
coverage/*
.elit